// Specific CSS for your home-page
.navbar {
  background-color: #F4F4F4 !important;
}

.jumbotron {
  background-image: asset-url('theatre-image.jpg');
  background-size: cover;
  height: 400px;
  h1{
    font-weight: bolder;
  }
  p {
    font-weight: lighter;
  }
}
